.\exercices\ex1.py
.\exercices\ex2.py
.\exercices\ex3.py
.\exercices\ex4.py
.\exercices\ex5.py
.\exercices\ex6.py
.\exercices\ex7.py
.\exercices\ex8.py
.\exercices\ex9.py
.\exercices\ex10.py
.\.vscode